html {
  background-image: url("images/wall2.jpg");
  background-repeat: no-repeat;
  background-size: 100% 110%;

}

a:link {
  text-decoration: none;
  color: white;
}

a:hover, a:active {
  background-color: grey;
}

body {
  margin: auto 20%;
  font-family: sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  font-family: "roboto", sans-serif;
}

.header {
  display: flex;
  padding-left: 10%;
  background-color: #313552;
  color: white;

}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: 345px;
  width: 330px;
  justify-content: space-between;

}

.nav ul li {
  display: flex;
  font-size: 20px;
  color: white;

}

.left {
  display: flex;
  padding-left: 10%;
  flex-direction: column;
  width: 40%;
  padding-top: 5%;
}

.left p {
  text-align: left;
  width: 90%;
  margin-top: -20px

}

.right {
  background-color: grey;
  justify-content: flex-end;
  text-align: center;
  padding: 5%;
  height: 50px;
  width: 300px;
  margin-top: 7%;
}

.container {
  display: flex;
  height: 370px;
  background-color: #313552;
  color:white;

}

.container h1 {
  font-size: 48px;
  font-family: "roboto", sans-serif;
  font-weight: 900;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 400px;
  background-color: white;
  color: black;
  font-family: "roboto", sans-serif;

}

.row h1{
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 6000px;
  padding-top: .5rem;
  font-weight: 600;
  font-size: 28px;
}

.row img {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  align-content: space-between;
  margin-top: -60px;
  height: 100px;
  width: 100px;

}

.row p {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}

.row h3 {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  gap: 20px;
}

.feature-box {
  display: flex;
  flex-flow: column;
  align-content: space-between;
  align-items: flex-end;
  padding: 0px 50px;
}

.quote {
  display: flex;
  justify-content: center;
  padding: 10% 350px 10% 350px;
  background-color: #C9CCD5;
  color: black;
  font-style: italic;
}

.cta {
  display: flex;
  justify-content: center;
  padding: 6% 180px 6% 180px;
  background-color: #FDEFF4;
  color: black;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #222831;
  font-size: 12px;
  font-weight: bold;
  color: white;
}
